# Firebase
.firebase/
.firebaserc

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Lighthouse reports
lighthouse-report.html
lighthouse-mobile.html
